@import url(https://fonts.googleapis.com/css?family=Lato);

#anchored {
  position: fixed;
  padding: 100;
  top: 100;
}

body {
    background-color: black !important;    
    color: aliceblue !important;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif!important;
    font-size: medium !important;
}
h2{
    color: black;
}
h5{
    color:black;
}
h1{
   padding: 30px;
   text-align: center;
   margin-right: 150px;
}
a{
    text-decoration: none !important;
    color: aliceblue !important;
    display: block;
    padding-top: 7%;
    font-size: x-large !important;
    text-align: center;
}

ul {
  padding: 0;
  display: block;
  margin: 24px auto;
  width: 320px;
  margin-left: -40px;
}

li {
  display: block;
  height: 72px;
  width: 320px;
  border: 1px solid hotpink;
  animation-name: animateIn;
  animation-duration: 1550ms;
  animation-delay: calc(var(--animation-order) * 1000ms);
  animation-fill-mode: both;
  animation-timing-function: ease-in-out;
}

li + li {
  margin-top: 16px;
}

@keyframes animateIn {
  0% {
    opacity: 0;
    transform: scale(0.6) translateY(-8px);
  }
  
  100% {
    opacity: 1;
  }
}

.main{
    font-size: x-large;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 200;
    margin-left: 70px;
}

.tabs{
  background-color: gray !important;
  color: white !important;
}

.tabletab{
  margin-top: -290px;
  color: black !important;
}

th{
  padding: 10px;
}

h4{
   padding: 20px;
   margin-left: 57px;
}